@using (Html.BeginForm("CrearVacante", "Rh"))
{
    <div class="form-horizontal">

        <h1>Crear vacante</h1>
        <h4 style="color:#0094ff;"><strong>Favor de introducir la información solicitada</strong></h4>

        <div class="form-group row">
            <label class="control-label col-md-3">Fecha</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line" name="fecha" type="date" required="required" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3" for="Fotografía">Fotografía</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line" required="required" type="file" onchange="imagenAbase64(this)" accept="image/png, image/jpeg, image/jpg" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3" for="Planta">Planta</label>
            <div class="col-md-9">
                <select name="planta" class="form-control text-box single-line" required="required">
                    <option value="">Elige una opción</option>
                    <option value="Planta1">Planta 1</option>
                    <option value="Planta2">Planta 2</option>
                </select>
            </div>
        </div>

        <div class="form-group row" hidden>
            <label class="control-label col-md-3" for="Fotografía">Fotografía</label>
            <div class="col-md-9">
                <input class="form-control text-box single-line" id="fotografia" type="text" name="fotografia" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-3"></label>
            <div class="col-md-9">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    let imagenbase64 = "";
    let foto = document.getElementById("fotografia");
    function imagenAbase64(element) {
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            imagebase64 = reader.result;
            foto.value = imagebase64;
        }
        reader.readAsDataURL(file);
    }
</script>