@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hubbell Planta #1</h1>
    <p class="lead">Hubbell Incorporated es una empresa estadounidense que diseña, fabrica y vende productos eléctricos y electrónicos para aplicaciones de servicios públicos, industriales y de construcción residencial y no residencial. Hubbell fue fundada por Harvey Hubbell como propiedad en 1888 y se incorporó en Connecticut en 1905.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Conócenos </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visítanos</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.0811235704464!2d-106.3734323846464!3d31.63162914880421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e76794bdb69a21%3A0xefd48d8e04c3f2f1!2sC.%20Santiago%20Blancas%20551%2C%20Terrazas%20del%20Valle%2C%2032599%20Cd%20Ju%C3%A1rez%2C%20Chih.!5e0!3m2!1ses-419!2smx!4v1663363654418!5m2!1ses-419!2smx"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="col-md-offset-7">
        <h2>Plantas</h2>
        <p>
            Hubbell Juárez (Bel Manufacturera S. de R.L. de C.V. Planta 1 y Planta 2) es parte de Hubbell Incor
        </p>
    </div>
    <div class="col-md-offset-7">
        <h2>Contáctanos</h2>
        <p>
            Hubbell Juárez (Bel Manufacturera S. de R.L. de C.V. Planta 1 y Planta 2) es parte de Hubbell Incor
        </p>
    </div>
</div>